/* Mobile version */
@media (min-width: 320px) {
  /* Загальні стилі */
  .aboutContainer {
    background-color: #171717;
  }

  .aboutSectionAbout {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 50px;
  }

  .aboutSectionAboutTitle {
    font-family: raleway;
    color: whitesmoke;
    padding: 10px;
    margin-top: 30px;
    font-size: 35px;
    font-weight: 900;
  }

  .aboutSectionAboutTitleSpan {
    color: #c70039;
  }

  .aboutSectionAboutSubtitle {
    color: whitesmoke;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 0 10px;
  }

  .aboutSectionAboutSubtitleSpan {
    color: #c70039;
  }

  .aboutSectionAboutArticle {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin-top: 30px;
  }

  .aboutSectionAboutArticleContentContainer {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    font-size: 20px;
    padding: 0 30px;
    font-family: poppins;
    font-weight: 400;
  }

  .aboutSectionAboutArticleContent {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    gap: 10px;
  }

  .aboutSectionAboutArticleTitle {
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 26px;
  }

  .aboutSectionAboutArticleSpan {
    color: #c70039;
  }

  .aboutSectionAboutArticleText {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.8;
    max-width: 90%;
    text-align: justify;
    margin: 0 auto;
    word-break: break-word;
    hyphens: auto;
  }

  .downloadButton {
    margin-top: 20px;
    background-color: transparent;
    border: none;
    color: whitesmoke;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .downloadButton:hover {
    opacity: 1;
  }

  .homeSectionAboutImage {
    padding: 35px;
    border-radius: 40px;
    animation: opacity 1.4s ease;
    max-width: 100%;
  }

  .myServices {
    margin: 0 auto;
    padding: 0 30px 20px;
  }

  .servicesTitle {
    width: 100%;
    text-align: center;
    font-family: raleway;
    color: whitesmoke;
    padding: 10px 10px;
    font-weight: 900;
  }

  .servicesTitleSpan {
    color: #c70039;
  }

  .servicesList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style: none;
    color: whitesmoke;
  }

  .serviceCard {
    background-color: #191919;
    display: inline-block;
    box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.05);
    position: relative;
    text-align: center;
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;
    animation: opacity 1.4s ease;
  }

  .serviceCardImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 15px auto;
    border-radius: 20px;
    background-color: #c70038;
  }

  .serviceCardImage {
    border-radius: 10px;
    max-width: 100%;
  }

  .serviceCardTitle {
    padding: 10px;
    margin: 5px;
    font-weight: 200;
    font-size: 26px;
  }

  .serviceCardDescription {
    padding: 10px;
    margin: 5px;
    font-weight: 200;
    font-size: 22px;
    opacity: 0.7;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    word-break: break-word;
    hyphens: auto;
  }
  /* My skill section */
  .skillssSection {
    margin: 0 auto;
    padding: 0 30px 20px;
  }
  .skillsSectionTitle {
    width: 100%;
    text-align: center;
    font-family: raleway;
    color: whitesmoke;
    padding: 10px 10px;
    font-weight: 900;
  }
  .skillsSectionTitleSpan {
    color: #c70038;
  }
  .skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
  }
  .skillsCategory {
    background-color: #191919;
    display: inline-block;
    box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.05);
    text-align: left;
    border: 3px dashed #1515;
    border-radius: 10px;
    width: 100%;
  }
  .skillsCategoryTitle {
    text-align: center;
    text-decoration: underline;
    color: whitesmoke;
    padding: 10px 10px;
  }
  .skillsCategoryList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    color: whitesmoke;
    opacity: 0.9;
    padding: 10px;
  }
  .skillsCategoryListItem {
    font-weight: 200;
    font-size: 18px;
    line-height: 1.5;
    opacity: 0.7;
    max-width: 90%;
    text-align: justify;
    margin: 0 auto;
    word-break: break-word;
    hyphens: auto;
  }
  .skillsCategoryListItemStrong {
    color: #c70039;
    font-size: 20px;
  }
}

/* Tablet version */
@media (min-width: 768px) {
  .aboutSectionAbout {
    padding: 0 100px 30px;
  }
  .aboutSectionAboutTitle {
    font-size: 45px;
  }
  .aboutSectionAboutArticleContentContainer {
    padding: 0 30px;
  }
  .aboutSectionAboutArticleTitle {
    font-size: 50px;
  }
  .homeSectionAboutImage {
    display: block;
    width: 700px;
    margin: 0 auto;
  }
  .myServices {
    padding: 0 50px 30px;
  }
  .servicesTitle {
    font-size: 45px;
  }
  .servicesList {
    flex-direction: row;
    gap: 15px;
  }
  .serviceCard {
    height: 400px;
    width: 40%;
  }
  .serviceCardTitle {
    font-size: 36px;
  }
}

/* Desktop version */
@media (min-width: 1024px) {
  .aboutSectionAbout {
    padding: 0 100px;
  }
  .aboutSectionAboutTitle {
    font-size: 45px;
  }
  .aboutSectionAboutArticle {
    flex-direction: row;
  }
  .aboutSectionAboutArticleContentContainer {
    padding: 30px;
    font-size: 20px;
    width: 50%;
  }
  .aboutSectionAboutArticleTitle {
    font-size: 50px;
  }
  .homeSectionAboutImage {
    width: 450px;
  }
  .myServices {
    padding: 0 50px 30px;
  }
  .servicesTitle {
    font-size: 45px;
  }
  .servicesList {
    flex-direction: row;
    gap: 15px;
  }
  .serviceCard {
    height: 400px;
    width: 40%;
  }
  .serviceCardTitle {
    font-size: 36px;
  }
}
