.resumecontainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.resumecolumn {
  width: 48%;
  padding: 10px;
}

.resumetitle {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

.resumesubtitle {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #555;
}

.resumedescription {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
}

.resumelist {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.resumelistitem {
  margin-bottom: 5px;
}

.resumelink {
  color: #1e90ff;
  text-decoration: none;
}
.resumelinkem {
  color: #333;
  text-decoration: none;
}

.resumelink:hover {
  text-decoration: underline;
}

.techSkills,
.softSkills,
.languages,
.contactInfo,
.education {
  margin-bottom: 20px;
}

.downloadButton {
  padding: 10px 20px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.downloadButton:hover {
  background-color: #0056b3;
}
