.home {
  background: url('/public/images/bg_2.png') no-repeat right center;
  background-size: 180px;
  background-attachment: fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #171717;
}
@keyframes scale {
  0% {
    transform: scale(0.6);
  }
}
#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homeContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8vmin;
}

.homeTitle {
  font-family: poppins;
  font-weight: 700;
  font-size: 65px;
  opacity: 0.7;
}
.homeSpanTitle {
  font-family: poppins;
  font-weight: 700;
  font-size: 65px;
  color: #ef5555;
  opacity: 0.7;
}
.homeDescription {
  font-family: poppins;
  font-weight: 500;
  font-size: 30px;
  opacity: 0.7;
}
.homeSpanDescription {
  font-family: poppins;
  font-weight: 500;
  font-size: 30px;
  color: #ef5555;
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .homeContent {
    font-size: 10vmin;
    top: 20%;
    left: 50%;
  }

  .homeTitle {
    font-size: 50px;
  }

  .homeSpanTitle {
    font-size: 50px;
  }

  .homeDescription {
    font-size: 25px;
  }

  .homeSpanDescription {
    font-size: 25px;
  }
}

/* Медіа-запити для мобільних пристроїв */
@media (max-width: 768px) {
  .homeContent {
    top: 10%;
    left: 50%;
    font-size: 12vmin;
  }

  .homeTitle {
    font-size: 35px;
  }

  .homeSpanTitle {
    font-size: 35px;
  }

  .homeDescription {
    font-size: 20px;
  }

  .homeSpanDescription {
    font-size: 20px;
  }
}
