/* Базові стилі для всіх екранів */
.home {
  background: url('/public/images/bg_2.png') no-repeat right center;
  background-size: 180px;
  background-attachment: fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #171717;
}
#canvas {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homeContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8vmin;
}

.homeTitle,
.homeSpanTitle {
  font-family: poppins;
  font-weight: 700;
  opacity: 0.7;
}

.homeDescription,
.homeSpanDescription {
  font-family: poppins;
  font-weight: 500;
  opacity: 0.7;
}
.homeSpanTitle,
.homeSpanDescription {
  color: #c70039;
}
.homeNavSocialMedia,
.homeContactsNav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.homeNavSocialMediaListItem,
.homeContactsNavListItem {
  list-style: none;
  margin: 0 10px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s;
}

.homeNavSocialMediaListItem:hover,
.homeContactsNavListItem:hover {
  opacity: 1;
}

.homeNavSocialMediaListItemLink,
.homeContactsNavListItemLink {
  text-decoration: none;
}

.homeNavSocialMediaListItemLinkImg,
.homeContactsNavListItemLinkImg {
  width: 20px;
}
.homeButton {
  margin-bottom: 20px;
  padding: 6px 12px;
  font-family: poppins;
  font-size: 16px;
  color: #c70039;
  border: solid 1px #c70039;
  opacity: 0.8;
  margin: 10px;
  background: none;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.4s ease;
}

.homeButton:hover {
  background: #c70039;
  color: whitesmoke;
}

/* Для екранів до 768px */
@media (max-width: 768px) {
  #canvas {
    display: none;
  }
  .home {
    height: 100vh;
    background-size: 100px;
  }
  .homeContent {
    top: 40%;
    font-size: 12vmin;
  }

  .homeTitle,
  .homeSpanTitle {
    font-size: 30px;
  }

  .homeDescription,
  .homeSpanDescription {
    font-size: 18px;
  }

  .homeNavSocialMedia {
    flex-direction: row;
    left: 5%;
    bottom: 20%;
  }
  .homeNavSocialMediaList {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .homeContactsNav {
    left: 35%;
    bottom: 5%;
  }

  .homeContactsNavList {
    display: flex;
    flex-direction: row;
  }

  .homeNavSocialMediaListItemLinkImg,
  .homeContactsNavListItemLinkImg {
    width: 15px;
  }
}

/* Для екранів від 769px до 1023px */
@media (min-width: 769px) and (max-width: 1023px) {
  .home {
    background-size: 100px;
  }

  .homeContent {
    top: 30%;
    font-size: 10vmin;
  }

  .homeTitle,
  .homeSpanTitle {
    font-size: 40px;
  }

  .homeDescription,
  .homeSpanDescription {
    font-size: 22px;
  }

  .homeNavSocialMedia {
    flex-direction: row;
    bottom: 25%;
    left: 8%;
    transform: translateX(-50%);
  }
  .homeNavSocialMediaList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .homeContactsNav {
    bottom: 15px;
    left: 40%;
  }

  .homeContactsNavList {
    display: flex;
    flex-direction: row;
  }
}

/* Для екранів від 1024px */
@media (min-width: 1024px) {
  #canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .home {
    background: url('/public/images/bg_2.png') no-repeat right center;
    background-size: 180px;
    background-attachment: fixed;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #171717;
  }

  .homeTitle,
  .homeSpanTitle {
    font-size: 65px;
  }

  .homeDescription,
  .homeSpanDescription {
    font-size: 30px;
  }

  .homeNavSocialMedia {
    position: absolute;
    bottom: 0;
    left: 3%;
    top: 0;
  }
  .homeNavSocialMediaList {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .homeContactsNav {
    position: absolute;
    bottom: 3%;
    right: 50%;
  }
  .homeContactsNavList {
    display: flex;
    flex-direction: row;
  }
  .homeButton {
    padding: 8px 24px;
    font-size: 20px;
    margin: 20px;
  }
}
