.headerContainer {
  position: fixed;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 3;
}

/* Logo Styles */
.headerLogoLink {
  position: relative;
  top: 16px;
  left: 1rem;
}

.headerLogoImage {
  opacity: 0.7;
  transition: all 0.4s ease;
}

.headerLogoImage:hover {
  opacity: 1;
  transform: rotate(45deg);
}

/* Menu Button Styles */
.headerMenuButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

.headerMenuButton.hidden {
  display: none;
}

.firstBurgerLine,
.secondBurgerLine,
.thirdBurgerLine {
  width: 30px;
  height: 3px;
  background: #fff;
  opacity: 0.7;
  margin: 3px 0;
  align-self: flex-end;
}

.firstBurgerLine {
  width: 10px;
}

.secondBurgerLine {
  width: 20px;
}

.headerMenuButton:hover .firstBurgerLine,
.headerMenuButton:hover .secondBurgerLine,
.headerMenuButton:hover .thirdBurgerLine {
  opacity: 0.7;
  width: 30px;
  transition: all 0.3s ease;
}

/* Menu Styles */
.headerNav {
  display: none;
}

.headerNav.open {
  background: #171717;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.headerNavList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 10px;
}

.headerNavListItem {
  font-family: 'Poppins', sans-serif;
  margin: 1rem 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  opacity: 0.7;
}

.headerNavListItemLink {
  position: relative;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  opacity: 0.7;
  transition: all 0.4s ease;
  text-align: center;
  z-index: 2;
}
.headerNavListItemLink::before {
  content: attr(data-text);
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 50px;
  font-weight: 400;
  font-family: 'Poppins';
  color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  letter-spacing: 50px;
  transition: transform 1s ease, opacity 0.1s ease, letter-spacing 1s ease;
}

.headerNavListItemLink:hover::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: 10px;
}

/* Close Button */
.headerCloseButton {
  position: absolute;
  top: 5%;
  right: 2rem;
  background: #171717;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: all 0.4s ease;
  opacity: 0.7;
}

.headerCloseButton:hover {
  transform: rotate(-45deg);
}

/* Desktop Styles */
@media (min-width: 768px) {
  .headerNavListItemLink {
    position: relative;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    opacity: 0.7;
    transition: all 0.4s ease;
    text-align: center;
    z-index: 2;
  }

  .headerNavListItemLink::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    font-weight: 400;
    font-family: 'Poppins';
    color: rgba(255, 255, 255, 0.1);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 50px;
    transition: transform 1s ease, opacity 0.1s ease, letter-spacing 1s ease;
  }

  .headerNavListItemLink:hover::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: 10px;
  }
}
