.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e0f7fa;
  border-top: 1px solid #b2ebf2;
  padding: 5px 10px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}

/* Logo Styles */
.footerLogo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.footerLogo:hover {
  cursor: pointer;
}

.footerLogoImage {
  max-width: 100%;
  height: auto;
}

/* Quick Links Styles */
.footerQuickLinks {
  display: flex;
  flex: 2;
  justify-content: space-between;
}

.footerQuickLinksList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;
  justify-content: space-between;
}

.footerQuickLinksListItem {
  color: #006064;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.footerQuickLinksListItem:hover {
  color: #004d40;
}

/* Social Links Styles */
.footerSocialLinks {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.footerSocialLinksList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;
  justify-content: space-between;
}

.footerSocialLinksListItem {
  color: #006064;
  text-decoration: none;
  padding: 10px;
  transition: opacity 0.3s ease;
}

.footerSocialLinksListItem:hover {
  opacity: 0.7;
}

.footerSocialLinksListItemImage {
  max-width: 100%;
  height: auto;
}

/* Media Queries for Mobile and Tablet Devices */
@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
    padding: 10px; /* Add padding */
  }

  .footerQuickLinks,
  .footerSocialLinks {
    justify-content: center; /* Center items */
    margin-top: 10px; /* Add spacing */
    width: 100%; /* Full width for lists */
  }

  .footerQuickLinksList,
  .footerSocialLinksList {
    flex-direction: column; /* Stack links vertically */
    align-items: center; /* Center align */
    width: 100%; /* Full width for lists */
  }

  .footerQuickLinksListItem,
  .footerSocialLinksListItem {
    padding: 8px 0; /* Adjust padding for better touch targets */
    width: 100%; /* Full width for items */
    text-align: center; /* Center text */
  }
}

@media (max-width: 480px) {
  .footerContainer {
    padding: 5px; /* Reduced padding for smaller screens */
  }

  .footerQuickLinksListItem,
  .footerSocialLinksListItem {
    padding: 6px 0; /* Smaller padding for smaller screens */
  }

  .footerLogoImage {
    width: 60px; /* Adjust logo size for smaller screens */
  }
}
