@media (min-width: 320px) {
  .portfolioContainer {
    padding: 0 10px 0 10px;
  }
  .portfolioHeader {
    display: flex;
    flex-direction: column;
  }
  .portfolioTitle {
    font-family: raleway;
    color: whitesmoke;
    padding: 10px;
    margin-top: 30px;
    font-size: 35px;
    font-weight: 900;
    padding-top: 25px;
    margin: 0 auto;
  }
  .portfolioTitleSpan {
    color: #c70039;
  }
  .portfolioSubtitle {
    font-family: poppins;
    font-weight: 24px;
    color: whitesmoke;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .portfolioSubtitleSpan {
    color: #c70039;
  }
  /* .portfolioContentProjectsList {
  } */
  .portfolioContentProjectsListItem {
    padding: 10px 0 10px 0;
  }
  .portfolioContentProjectsListItemImg {
    width: 100%;
  }
  .portfolioContentProjectsListItemLink {
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .portfolioContentProjectsListItemLinkTitle {
    margin: 10px 0 5px 0;
  }
  .portfolioContentProjectsListItemDesc {
    color: whitesmoke;
    opacity: 0.8;
    font-size: 14px;
  }
  .portfolioContentProjectsListItemRole {
    color: whitesmoke;
    opacity: 0.8;
    font-size: 14px;
  }
  .portfolioContentProjectsListItemType {
    color: whitesmoke;
    opacity: 0.8;
    font-size: 14px;
  }
  .portfolioContentProBonoTitle {
    font-family: poppins;
    color: whitesmoke;
    text-align: center;
    opacity: 0.9;
    font-size: 22px;
  }
  .portfolioContentProBonoTitleSpan {
    color: #c70039;
    opacity: 0.9;
  }
}
@media (min-width: 1024px) {
  .portfolioContentProjectsListItemImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolioContentProjectsListItemImg {
    width: 40%;
    height: auto;
  }
}
