@media (min-width: 320px) {
  .portfolioContainer {
    padding: 0 10px 0 10px;
  }
  .portfolioHeader {
    display: flex;
    flex-direction: column;
  }
  .portfolioTitle {
    font-family: raleway;
    color: whitesmoke;
    padding: 10px;
    margin-top: 30px;
    font-size: 35px;
    font-weight: 900;
    padding-top: 35px;
    margin: 0 auto;
  }
  .portfolioTitleSpan {
    color: #c70039;
  }
  .portfolioSubtitle {
    font-family: poppins;
    font-weight: 24px;
    color: whitesmoke;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .portfolioSubtitleSpan {
    color: #c70039;
  }
  .portfolioContentProjectsListItem {
    padding: 10px 0 10px 0;
  }
  .portfolioContentProjectsListItemImg {
    width: 100%;
  }
  .portfolioContentProjectsListItemLink {
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .portfolioContentProjectsListItemLinkTitle {
    color: #c70039;
    display: block;
  }
  .portfolioContentProjectsListItemDesc {
    color: whitesmoke;
    opacity: 0.8;
    font-size: 14px;
  }
  .portfolioContentProjectsListItemRole {
    color: whitesmoke;
    opacity: 0.8;
    font-size: 14px;
  }
  .portfolioContentProjectsListItemType {
    color: whitesmoke;
    opacity: 0.8;
    font-size: 14px;
  }
  .portfolioContentProBonoTitle {
    font-family: poppins;
    color: rgba(245, 245, 245, 0.9);
    text-align: center;
    font-size: 22px;
  }
  .portfolioContentProBonoTitleSpan {
    color: #c70039;
    opacity: 0.9;
  }
  .portfolioContentProBonoList {
    padding-top: 15px;
  }
  .portfolioContentProjectsListItemLinkDescContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .portfolioContentProjectsListItemLinkTitle {
    padding: 10px 0 10px 0;
    margin: 0 auto;
  }
  .portfolioContentProjectsListItemButton {
    text-decoration: none;
    margin-top: 10px;
    padding: 5px;
    background: none;
    cursor: pointer;
    border: 1px solid #c70039;
    color: #c70039;
    border-radius: 4px;
  }
  .portfolioContentProjectsListItemButton:hover {
    background: #c70039;
    color: rgba(245, 245, 245, 0.9);
    transition: transform 0.5s ease;
  }
}
@media (min-width: 1024px) {
  .portfolioContentProjectsListItemImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolioContentProjectsListItemImg {
    width: 40%;
    height: auto;
  }
  .portfolioContentProjectsListItemLinkDescContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .portfolioContentProjectsListItemLinkTitle {
    padding: 10px 0 10px 0;
    margin: 0 auto;
  }
}
